@model ByteShop.ViewModels.EntityListViewModel

<button id="AddButton">Add</button>
<input id="Description" type="text"/>
<script type="text/javascript">
    $("#AddButton").click(function () {
        $.ajax(
            "/Main/Create",
            {
                data: { description: $("#Description").val() },
                success: function (data, status, jqxz) {
                    $("#List").append("<div>" + data.Description + "</div>");
                },
                type : 'POST'
            }
        );
    });
</script>

<div id="List">
@foreach (var e in @Model.Entities)
{
    <div>
        @e.Description
    </div>
}
    </div>
