@model ByteShop.ViewModels.MainPageViewModel

<div id="resize" class="ui-widget-content" style="width: 150px; margin: 5px;padding: 1px;">
    <h3 class="ui-widget-header">Resize</h3>
    <div>Main page</div>
</div>
<script type="text/javascript">
    $("#resize").resizable();
</script>