@model ByteShop.ViewModels.ViewModelBase

<html>
    <head>
        <title>@Model.Title</title>
        <link rel="stylesheet" href="/Content/Site.css"/>
        <script type="text/javascript" src="/Scripts/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="/Scripts/jquery-ui-1.10.2.min.js"></script>
        <script type="text/javascript" src="/Scripts/Main.js"></script>
        <link rel="stylesheet" href="/Content/themes/base/jquery-ui.css" />
    </head>
    <body>@RenderBody()</body>
</html>
